%ul.nav(class="nav-list")
  %li.nav-header= @org.name
  %li= link_to "<i class='icon-home'></i> Organization".html_safe, @org
  %li= link_to "<i class='icon-cog'></i> Settings".html_safe, edit_org_path(@org)
  %li= link_to "<i class='icon-book'></i> Reports".html_safe
  %li.nav-header Inventory
  %li= link_to "<i class='icon-shopping-cart'></i> Warehouses".html_safe
  %li= link_to "<i class='icon-download-alt'></i> Receptions".html_safe
  %li= link_to "<i class='icon-upload-alt'></i> Distributions".html_safe
  %li.nav-header Human Resources
  %li= link_to "<i class='icon-group'></i> Donors".html_safe, org_donors_path(@org)
  %li= link_to "<i class='icon-group'></i> Recipients".html_safe
  %li= link_to "<i class='icon-group'></i> Staff".html_safe